@import "../dist/webkit-sassui-scroll-x.scss";

  h3{
    margin-top: 40px;
    padding-left: 14px;
    border-left: 4px solid #ccc;
  }


.test-webkit-sassui-scroll-x {
  border: 1px solid red;
  position: relative;
  height: 85px;
  box-sizing: border-box;

  .scroller {
    border: 1px solid #000;
    .item {
      border: 1px solid #00f;
      border-radius: 10px;
      overflow: hidden;
      margin-right: 10px;
      img {
        vertical-align: middle;
        width: 80px;
        height: 80px;
      }
    }
  }

  .extra{
    position: absolute;
    right: 0;
    top:0;
    height:100%;
    width: 60px;
    background: #333;
    line-height: 1.2;
    color: #fff;
  }
}
